@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전체 폰트 설정 (선택사항) */
body {
    font-family: 'Pretendard', sans-serif; /* 혹은 기본 sans-serif */
    background-color: #f8f9fa; /* 아주 연한 회색 배경 */
}

/* 스크롤바 커스텀 (직각 디자인) */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #000;
}
::-webkit-scrollbar-track {
    background: #eee;
}
